<?xml version="1.0"?>
<config>
    <modules>
        <Module_EditorProduct>
            <version>1.0</version>
        </Module_EditorProduct>
    </modules>
    <global>
        <blocks>
            <module_editorproduct>
                <class>Module_EditorProduct_Block</class>
            </module_editorproduct>
        </blocks>
        <helpers>
            <module_editorproduct>
                <class>Module_EditorProduct_Helper</class>
            </module_editorproduct>
        </helpers>
        <models>
            <producteditbutton>
                <class>Module_EditorProduct_Model</class>
            </producteditbutton>
        </models>
        <blocks>
        <adminhtml>
                <rewrite>
                    <catalog_product_grid>Module_EditorProduct_Block_Adminhtml_Products_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Module_EditorProduct before="Mage_Adminhtml">Module_EditorProduct_Adminhtml</Module_EditorProduct>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <module_editorproduct>
                    <file>module/editorproduct.xml</file>
                </module_editorproduct>
            </updates>
        </layout>
        <events>
           <adminhtml_widget_container_html_before>
                <observers>
                    <module_editorproduct>
                        <type>model</type>
                        <class>Module_EditorProduct_Model_Observer</class>
                        <method>addButton</method>
                    </module_editorproduct>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
</config>
